<div class="jumbotron">
    <h1 class="display-4">MongoScraper: NY Times Edition</h1>
    <p class="lead">Scrape the New York Times with one simple click.</p>
    <hr class="my-4">
    <p>The following button scrapes current articles from the New York Times website. </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" id="scrape">Scrape</a>
    </p>
</div>


<!-- Modal -->
<div class="modal fade" id="scrape-modal" tabindex="-1" role="dialog" aria-labelledby="scrapeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="text-align: center;">
            <div class="modal-header text-center">
                <span class="sr-only">Close</span>
                <h2>
                    Scrape complete!
                </h2>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#scrape").on("click", function () {

        $.ajax({
            method: "GET",
            url: "/scrape",
        }).then(function (data) {
            console.log(data);
            if (data) {
                $("#scrape-modal").modal("show");
            }
        });
    });
</script>